JP_WS2/WebContent/wsdl/MathServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.jp.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.service.jp.com" xmlns:intf="http://impl.service.jp.com" xmlns:tns1="http://request.service.jp.com" xmlns:tns2="http://response.service.jp.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.service.jp.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.service.jp.com"/>
   <import namespace="http://response.service.jp.com"/>
   <element name="doAdd">
    <complexType>
     <sequence>
      <element name="mathRequest" type="tns1:MathRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="doAddResponse">
    <complexType>
     <sequence>
      <element name="doAddReturn" type="tns2:MathResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://request.service.jp.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://response.service.jp.com"/>
   <complexType name="MathRequest">
    <sequence>
     <element name="num1" type="xsd:int"/>
     <element name="num2" type="xsd:int"/>
     <element name="opertion" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://response.service.jp.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.service.jp.com"/>
   <complexType name="MathResponse">
    <sequence>
     <element name="mathResponse" type="xsd:int"/>
     <element name="response" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="doAddResponse">

      <wsdl:part element="impl:doAddResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doAddRequest">

      <wsdl:part element="impl:doAdd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MathServiceImpl">

      <wsdl:operation name="doAdd">

         <wsdl:input message="impl:doAddRequest" name="doAddRequest">

       </wsdl:input>

         <wsdl:output message="impl:doAddResponse" name="doAddResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MathServiceImplSoapBinding" type="impl:MathServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doAdd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doAddRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doAddResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MathServiceImplService">

      <wsdl:port binding="impl:MathServiceImplSoapBinding" name="MathServiceImpl">

         <wsdlsoap:address location="http://localhost:8081/JP_WS2/services/MathServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
